<%- include('partials/header') %>


<% if (locals.error) { %>
<div class="alert alert-danger center-text" role="alert">
    <div class="d-flex justify-content-center align-items-center">
    <%= error %>
</div>
</div>
<% } %>

<% if (locals.registered && locals.registered === "true") { %>
<div class="alert alert-success text-center" role="alert">
    Account created ! You may now log in !
</div>
<% } %>

<% if (locals.registered && locals.registered === "false") { %>
<div class="alert alert-danger text-center" role="alert">
    You have to be logged in to submit a recipe
</div>
<% } %>

<div class="container">
    <div class="ms-auto me-auto mt-5" style="width: max-content;">
        <form action="/login" method="POST"
            style="border: 1px solid rgba(139, 139, 139, 0.493); padding: 30px 50px 30px 50px;; box-shadow: 0.5px 1px 7px 0px rgba(0,0,0,0.29);">
            <label class="form-label muted" style="letter-spacing: 1px;" for="email">Email</label>
            <input class="form-control mb-4" type="email" id="email" name="email" placeholder="email@domain.com">

            <label class="form-label muted" style="letter-spacing: 1px;" for="password">Password</label>
            <input class="form-control" type="password" id="password" name="password" placeholder="*********">

            <input class="btn btn-secondary d-block mt-4 mb-2 mx-auto" type="submit" value="Log in">
            <footer style="display: flex; align-items: center; flex-direction: column; font-size: 10px;">
                <div>Don't have an account?</div>
                <a href="/signup" style="color: inherit;"> Sign up</a>
            </footer>
        </form>
    </div>
</div>



<%- include('partials/footer') %>