<%- include ('partials/header') %>

<div class="container">

    <div class="col-11 ms-auto me-auto mt-4">

        <% if (typeof error !== 'undefined' && error !== null) { %>
            <div class="text-center mb-3 alert alert-danger"><%= error %></div>
          <% } %>


        <form action="/signup" method="POST" class="inline" style="border: 1px solid rgba(139, 139, 139, 0.493); padding: 25px; box-shadow: 0.5px 1px 7px 0px rgba(0,0,0,0.29);">
            <label class="form-label muted" style="letter-spacing: 1px;" for="username">Username</label>
            <input class="form-control mb-4" type="text" id="username" name="username" placeholder="Username">

            <label class="form-label muted" style="letter-spacing: 1px;" for="email">Email</label>
            <input class="form-control mb-4" type="email" id="email" name="email" placeholder="email@domain.com">

            <label class="form-label muted" style="letter-spacing: 1px;" for="password">Password</label>
            <input class="form-control mb-4" type="password" id="password" name="password" placeholder="*********">

            <label class="form-label muted" style="letter-spacing: 1px;" for="confirmation">Confirm Password</label>
            <input class="form-control mb-4" type="password" id="confirmation" name="confirmation"
                placeholder="*********">

            <input class="btn btn-secondary d-block my-4 mx-auto" type="submit" value="Sign up">
        </form>
    </div>
</div>

  


<%- include ('partials/footer') %>