<%- include ('partials/header') %>


<div class="container">

    <div
    class="col-11 ms-auto me-auto mt-4"
    style="width: max-content";
    >

        <% if (typeof error !== 'undefined' && error !== null) { %>
            <div class="alert alert-danger center-text">
                <div class="d-flex justify-content-center align-items-center">
                    <%= error %>
                </div>
                </div>
          <% } %>


        <form action="/signup" method="POST" class="inline" style="border: 1px solid rgba(139, 139, 139, 0.493); padding: 50px 100px 50px 100px; box-shadow: 0.5px 1px 7px 0px rgba(0,0,0,0.29);">
            <label class="form-label muted" style="letter-spacing: 1px;" for="username">Username</label>
            <input class="form-control mb-4" type="text" id="username" name="username" placeholder="Username">

            <label class="form-label muted" style="letter-spacing: 1px;" for="email">Email</label>
            <input class="form-control mb-4" type="email" id="email" name="email" placeholder="email@domain.com">

            <label class="form-label muted" style="letter-spacing: 1px;" for="password">Password</label>
            <input class="form-control" type="password" id="password" name="password" placeholder="*********">
            <div class="d-flex flex-column mt-2">
            <div style="font-size:x-small;">Password must contain</div>
            <div style="font-size:x-small;">1 uppercase</div>
            <div style="font-size:x-small;">1 lowercase</div>
            <div style="font-size:x-small;">1 special character</div>
            <div class="mb-4" style="font-size:x-small;">min 8 characters</div>
            </div>



            

            <label class="form-label muted" style="letter-spacing: 1px;" for="confirmation">Confirm Password</label>
            <input class="form-control mb-4" type="password" id="confirmation" name="confirmation"
                placeholder="*********">

            <input class="btn btn-secondary d-block my-4 mx-auto" type="submit" value="Sign up">
        </form>
    </div>
</div>

  


<%- include ('partials/footer') %>